@{
    Layout = "_Layout";
}

@model SpookyPark.Models.Attraction

<h4>Add a new Attraction</h4>

@using(Html.BeginForm())
{
    <div class="form-group">
    @Html.LabelFor(model =>model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

    @Html.LabelFor(model =>model.Desc)
    @Html.TextBoxFor(model => model.Desc, new { @class = "form-control"})

    @Html.LabelFor(model =>model.Location)
    @Html.TextBoxFor(model => model.Location, new { @class = "form-control"})

    @Html.LabelFor(model =>model.AttractionId, new {@class = "hidden"})
    @Html.TextBoxFor(model => model.AttractionId, new {@class = "hidden"})


    @Html.LabelFor(model => model.EntertainmentType)
    @Html.DropDownList("EntertainmentTypeId")

    </div>

    <input class ="btn btn-danger" type="submit" value="Add Attraction!!">

}