@{
    Layout = "_Layout";
}

@using SpookyPark.Models;
@model SpookyPark.Models.EntertainmentType;

<h2>Entertainment Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
    @if (@Model.Attractions.Count == 0)
    {
        <p>There are no attractions in this Entertainment Type</p>
    }

    @foreach (Attraction attraction in @Model.Attractions)
    {
        <li>
            Name: @(attraction.Name)
        </li>
    }
</ul>

@Html.ActionLink("Edit",  "Edit", new {id = @Model.Id})
<br>
@Html.ActionLink("Back to Entertainment Types",  "Index")
