@{
    Layout = "_Layout";
}
@using SpookyPark.Models
@model SpookyPark.Models.EntertainmentType

<h4>Add a new Entertainment Type</h4>

@using(Html.BeginForm())
{
    <div class="form-group">
    @Html.LabelFor(model =>model.Name)
    @Html.EditorFor(model => model.Name, new { @class = "form-control"})
    <br>
    @Html.LabelFor(model =>model.Price)
    @Html.EditorFor(model => model.Price, new { @class = "form-control", @type ="number" })
    <br>
    @Html.LabelFor(model =>model.AgeRestriction)
    @Html.CheckBoxFor(model => model.AgeRestriction, new { @class = "form-control", @checked = "false"})

    <input class = "btn btn-danger" type="submit" value="Save Changes!">
    </div>
}